.idea/*
.installed.cfg
.project
.pydevproject
.svn/
bin/
dist/
downloads/
eggs/
include/
lib/
parts/
build/
*~
develop-eggs/
*.pyc
dlcache/
src/django_pressroom.egg-info/
src/pressroom/tests/media/
demo/media/photologue
demo/static
scripts/images
pressroom.db
docs/_build/
demo/whoosh_index
demo/xapian_index