[buildout]
parts = python PIL django
develop = .
eggs = django-pressroom

[python]
recipe = zc.recipe.egg
interpreter = py
eggs = ${buildout:eggs}

[PIL]
recipe        = zc.recipe.egg:custom
egg           = PIL
find-links    = http://dist.repoze.org/

[django]
recipe = djangorecipe
version = 1.2.1
project = pressroom
projectegg = pressroom
settings = testsettings
test = pressroom
eggs =  ${buildout:eggs}
        PIL
        django-photologue
