{% load bootstrap %}
{% load i18n %}
<!doctype html>
<html>
<head>
    {% bootstrap_css %}
    <link href="/static/css/pressroom.css" type="text/css" rel="stylesheet">
    {% bootstrap_js all %}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div style="z-index: 5;" class="topbar-wrapper">
    <div data-dropdown="dropdown" class="topbar">
        <div class="topbar-inner">
            <div class="container">
                <h3><a href="#">Project Name</a></h3>
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

                <form class="navbar-form pull-right" action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    {% get_current_language as LANGUAGE_CODE %}
                    <select class="language" name="language">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option class="options" value="{{ language.code }}" {% ifequal language.code LANGUAGE_CODE %}selected{% endifequal %}>{{ language.name_local }}</option>
                        {% endfor %}
                    </select>
                    <input class="btn primary" type="submit" value="Go" />
                </form>

                <form class="navbar-form pull-right" action="/search/">
                    <input id="id_q" type="text" class="input-medium search-query" name="q" placeholder="Search">
                </form>
            </div>
        </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
</div>




<div class="container">

    <div class="container-fluid">
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
        <div class="sidebar">
            {% block sidebar %}

            {% endblock %}
        </div>
    </div>
</div> <!-- /container -->




</body>
</html>
