{% load bootstraped %}
{% load i18n %}
<!doctype html>
<html>
<head>
    {% bootstrap_css %}
    <link href="/static/css/pressroom.css" type="text/css" rel="stylesheet">
    {% bootstrap_js all %}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{% trans "Project name" %}</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/">{% trans "Home" %}</a></li>
                    <li><a href="#about">{% trans "About" %}</a></li>
                    <li><a href="#contact">{% trans "Contact" %}</a></li>
                </ul>
            </div><!--/.nav-collapse -->

            <form class="navbar-form pull-right" action="/i18n/setlang/" method="post">
                {% csrf_token %}
                {% get_current_language as LANGUAGE_CODE %}
                <select class="language" name="language">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option class="options" value="{{ language.code }}" {% ifequal language.code LANGUAGE_CODE %}selected{% endifequal %}>{{ language.name_local }}</option>
                    {% endfor %}
                </select>
                <input class="btn" type="submit" value="Go" />
            </form>


            <form class="navbar-form pull-right" action="/search/">
                <input id="id_q" type="text" class="input-medium search-query" name="q">
                <button type="submit" class="btn">{% trans "Search" %} <i class="icon-search"></i></button>
            </form>


        </div>
    </div>
</div>

<div class="container">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                {% block content %}

                {% endblock %}
            </div>
            <div class="span2">
                {% block sidebar %}

                {% endblock %}
            </div>
        </div>
    </div>
</div> <!-- /container -->




</body>
</html>
