<div class="article">
    {% if article.photos.all %}
        <div class="article-photos">
            {% include "pressroom/includes/photo_snippet.html" with photos=article.photos.all %}
        </div>
    {% endif %}
    <a href="{{ article.get_absolute_url }}">
        <h3>{{ article.headline }}</h3>
    </a>
    <div class="article-summary">
    {% if article.summary %}
    {{ article.summary|safe }}
    {% else %}
    {{ article.body|safe|truncatewords_html:50 }}
    {% endif %}
    </div>


    <div class="article-pubdate">{{ article.pub_date|date:"M d Y" }}</div>

</div>