{% extends "pressroom/article_archive.html" %}
{% load i18n %}
{% load endless %}
{% block title %}{% trans "Articles for" %} {{ year }}{% endblock %}
{% block content %}
    <h2>{% block archive-title %}{% trans "Articles for" %} {{ year }}{% endblock %}</h2>
    {% if object_list %}
        {% paginate 10 object_list %}
        {% for article in object_list %}
            {% include "pressroom/includes/article_snippet.html" with article=article %}
        {% endfor %}
        <div class="pagination">
            {% show_pages %}
        </div>
    {% else %}
    <p>{% trans "No articles were found." %}</p>
    {% endif %}
{% endblock %}
{% block date_drill_down %}
    {% if date_list %}
        <h2>Archive {{ month }}</h2>
        <ul class="article-archive">
            {% for date in date_list %}
            <li><a href="{% url pr-article-archive-month date.year date|date:"n" %}">{{ date|date:"F" }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}