{% extends "pressroom/article_archive_year.html" %}
{% block title %}Articles for {{ month|date:"F Y" }}{% endblock %}
{% block archive-title %}Articles for {{ month|date:"F Y" }}{% endblock %}
{% block date_drill_down %}
    {% if date_list %}
    <h2>Archive {{ year }}</h2>
    <ul class="article-archive">
        {% for date in date_list %}
            <li><a href="{% url pr-article-archive-day date.year date|date:"M"|lower date.day %}">{{ date|date:"d" }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}



