{% extends "pressroom/article_archive.html" %}
{% load comments %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <div class="article-wrapper">
        <h1>{{ object.headline }}</h1>

        {% if object.photos.all %}
            {% include "pressroom/includes/photo_snippet.html" with article=object %}
        {% endif %}

        <div class="article-body">{{ object.body|safe }}</div>
        <div class="article-author">{{ object.author }}</div>
        <div class="article-pubdate">{{ object.pub_date|date:"F j, Y" }}</div>
    </div>

    {% if object.documents.all %}
        <div class="documents">
            <h2>Related Documents</h2>
            <ul>
            {% for doc in object.documents.all %}
                <li>
                    <div class="document-title"><a href="{{doc.file.url}}">{{doc.title}}</a></div>
                    <div class="document-summary">{{doc.summary}}</div>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if object.enable_comments %}

        {% get_comment_count for object as comment_count %}.

        {% if comment_count > 0 %}
            <h3>Comments</h3>
            {% render_comment_list for object %}
        {% endif %}

        <h3>Add comment</h3>
        {% render_comment_form for object %}
    {% endif %}


{% endblock %}

{% block sidebar %}
    {% if object.tags.all %}
        <h2>Tags</h2>
        {% for tag in object.tags.all %}
            <span class="label label-info">{{ tag }}</span>
        {% endfor %}
    {% endif  %}
    {{ block.super }}
{% endblock %}
