.articles {}
.article {
    padding: 5px;
    padding-bottom: 50px;
    margin-bottom: 10px;
}
.article-wrapper {}
.article-summary {}
.article-photos {
    width: 180px;
    float: right;
}
.article-photo {
    float: right;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.article-body {}
.article-author {}
.article-pubdate {}
.article-archive {}

.sections {}

.documents {}
.document-title {}
.document-summary {}

.modal {
    width: 420px;
}